<div class="container-fluid">
	<link rel="stylesheet" type="text/css" href="css/chat/style.css">
	<div class="row full-screen">
		<!-- Friend list container -->
		<div class="col-md-3 user-list-container">
			<ul class="list-group user-list" style="list-style-type: none">
				<li ng-repeat="friend in friendList" class="list-group-item">
					<span class="avatar">
						<img src="images/default-ava.png" class="img-thumbnail">
					</span>
					<h5 class="friend-name">{{friend.name}}</h5>
					<span class="label label-success status">Online</span>
				</li>
			</ul>
		</div>

		<!-- Chat box -->
		<div class="col-md-8 chat-box-container">
			<div class="full-chat-box">
				<div class="tab-chat">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#">Linh</a></li>
					  <li><a href="#">ABCXYZ</a></li>
					</ul>
				</div>
				<!-- Chat content will be shown here -->
				<div class="chat-content" id="chat-box">

					<!-- Single line -->
					<div class="chat-box-single-line">
						<span class="timestamp">16/09/2016</span>
					</div>

					<!-- Left chat -->
					<div class="left-chat user-chat">
						<img src="images/default-ava.png" class="img-rounded left"/>
						<div class="messages left">
							<div class="direct-chat-text">Hello</div>
							<div class="direct-chat-text">Hello</div>
						</div>
					</div>

					<!-- Right chat -->
					<div class="right-chat user-chat">
						<img src="images/default-ava.png" class="img-rounded right"/>
						<div class="messages right">
							<div class="direct-chat-text" data-toggle="tooltip" title="test">Hello</div>
							<div class="direct-chat-text">Hello</div>
						</div>
					</div>			
				</div>
				<!-- Chat panel -->
				<div class="message-panel">
						<textarea placeholder="Type a message..." type="text" ng-model="myMessage" class="form-control input-md"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>